<!DOCTYPE html>
<html>
  <head>
    <title>Capture</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/scripts/headtrackr.js"></script>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/local.js"></script>
  </head>
  <body>
    <h1>Hey how do you feel?</h1>
    <div class="sad mood">
    	<img src="/images/sad.gif"/>
    	<div class="overlay"></div>
    </div>
    <div class="happy mood">
    	<img src="/images/happy.gif"/>
    	<div class="overlay"></div>
    </div>
    
    <div class="indicator" id="indicator">
    </div>
    
	<canvas id="inputCanvas" width="320" height="240" style="display:none"></canvas>
	<video id="inputVideo" autoplay loop style="display:none"></video>
	<canvas id="overlay" width="320" height="240" style="display:none"></canvas>
	
	<script type="text/javascript">
	  var videoInput = document.getElementById('inputVideo');
	  var canvasInput = document.getElementById('inputCanvas');
	  var canvasOverlay = document.getElementById('overlay')
	  var overlayContext = canvasOverlay.getContext('2d');
	  
	  canvasOverlay.style.position = "absolute";
	  canvasOverlay.style.top = '0px';
	  canvasOverlay.style.zIndex = '100001';
	  canvasOverlay.style.display = 'none';
	
	  var htracker = new headtrackr.Tracker();
	  htracker.init(videoInput, canvasInput);
	  htracker.start();
	  
	  document.addEventListener("facetrackingEvent", function( event ) {
		// clear canvas
		overlayContext.clearRect(0,0,320,240);
		// once we have stable tracking, draw rectangle
		if (event.detection == "CS") {
			overlayContext.translate(event.x, event.y)
			overlayContext.rotate(event.angle-(Math.PI/2));
			overlayContext.strokeStyle = "#00ff00";
			overlayContext.strokeRect((-(event.width/2)) >> 0, (-(event.height/2)) >> 0, event.width, event.height);
			overlayContext.rotate((Math.PI/2)-event.angle);
			overlayContext.translate(-event.x, -event.y);
		}
	   });
	   
	   document.addEventListener("headtrackingEvent", function( event ) {
			//console.log('x '+event.x+' y '+event.y+' z '+event.z);
			if(event.x <= 0) {
				$('.mood.sad .overlay').css('display','block');
				$('.mood.happy .overlay').css('display','none');
				
			} else {
				$('.mood.happy .overlay').css('display','block');
				$('.mood.sad .overlay').css('display','none');
			}
	   });
	</script>
    
  </body>
</html>