<!DOCTYPE html>
<html>
  <head>
    <title>Capture</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script type="text/javascript" src="/scripts/headtrackr.js"></script>
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/local.js"></script>
  </head>
  <body>
    <div class="animationDiv">
	    <div class="well well-lg" style="text-align: center"><h3>Hey, how do you feel?</h3></div>
	    <div class="sad mood">
	    	<img src="/images/sad.jpg"/>
	    	<div class="overlay"></div>
	    </div>
	    <div class="happy mood">
	    	<img src="/images/happy.jpg"/>
	    	<div class="overlay"></div>
	    </div>
	</div>
    
    <div class="indicator" id="indicator">
    	<script>
    		ajaxCall('/showGauge', 'indicator');
    	</script>
    </div>
    
	<canvas id="inputCanvas" width="320" height="240" style="display:none"></canvas>
	<video id="inputVideo" autoplay loop style="display:none"></video>
	<canvas id="overlay" width="320" height="240" style="display:none"></canvas>
	
	<script type="text/javascript">
	  var videoInput = document.getElementById('inputVideo');
	  var canvasInput = document.getElementById('inputCanvas');
	  var canvasOverlay = document.getElementById('overlay')
	  var overlayContext = canvasOverlay.getContext('2d');
	  
	  var flag = 0;
	  var eventX = 1;
	  
	  canvasOverlay.style.position = "absolute";
	  canvasOverlay.style.top = '0px';
	  canvasOverlay.style.zIndex = '100001';
	  canvasOverlay.style.display = 'none';
	
	  var htracker = new headtrackr.Tracker();
	  
	  function registerListeners() {
	  		htracker.init(videoInput, canvasInput);
	  		htracker.start();
	  		document.addEventListener("facetrackingEvent", faceTrackingEventFunction);
	  		setTimeout(function() {
		   		document.addEventListener("headtrackingEvent", headTrackingEventFunction);	
		   	}, 8000);
	  }
	  
	  registerListeners();
	  
	  function faceTrackingEventFunction(event) {
	  	// clear canvas
		overlayContext.clearRect(0,0,320,240);
		// once we have stable tracking, draw rectangle
		if (event.detection == "CS") {
			overlayContext.translate(event.x, event.y)
			overlayContext.rotate(event.angle-(Math.PI/2));
			overlayContext.strokeStyle = "#00ff00";
			overlayContext.strokeRect((-(event.width/2)) >> 0, (-(event.height/2)) >> 0, event.width, event.height);
			overlayContext.rotate((Math.PI/2)-event.angle);
			overlayContext.translate(-event.x, -event.y);
		}
	  }
	   
	   function headTrackingEventFunction( event ) {
			/*if(!flag) setTimeout(headTrackingEventFunctionRemainder, 5000);*/
			eventX = event.x;
			headTrackingEventFunctionRemainder();
	   }
	   
	   function headTrackingEventFunctionRemainder(event) {
	   	if(eventX <= 0) {
			$('.mood.sad .overlay').css('display','block');
			$('.mood.happy .overlay').css('display','none');
			logMood('sad');
		} else {
			$('.mood.happy .overlay').css('display','block');
			$('.mood.sad .overlay').css('display','none');
			logMood('happy');
		}
	   }
	   
	   function logMood(mood) {
	   		$('.animationDiv').css('animation-name', 'animateDivUp');
	   		$('.animationDiv').css('top', '-350px');
	   		var data = {
				mood: mood
			};
			
			$.ajax({ 
			   url: '/logMood',
			   type: 'POST',
			   data: data,
			   success: function(data){
				   document.removeEventListener("facetrackingEvent", faceTrackingEventFunction);
				   document.removeEventListener("headtrackingEvent", headTrackingEventFunction);
				   htracker.stop();
					$.ajax({ 
					   url: '/getMoodPercent',
					   success: function(data){
						   setTimeout(function() {
						   		ajaxCall('/showGauge/'+parseInt(data), 'indicator');
						   		setTimeout(function() {
						   			$('.mood .overlay').css('display','none');
						   			$('.animationDiv').css('animation-name', 'animateDivDown');
	   								$('.animationDiv').css('top', '50px');
							   		registerListeners();
							   	}, 3000);
						   }, 2000);
					   	}
					});
			   }
			});
	   }
	   
	</script>
    
  </body>
</html>