<script type="text/javascript" src="/scripts/d3.v3.min.js"></script>
<script type="text/javascript" src="/scripts/gauge.js"></script>

<span id="gauge"></span>

<script>
	
	var gauges = [];
			
	function createGauge(name, label, min, max)
	{
		var config = 
		{
			size: 220,
			label: label,
			min: undefined != min ? min : 0,
			max: undefined != max ? max : 100,
			minorTicks: 5
		}
		
		var range = config.max - config.min;
		config.redZones = [{ from: 0, to: 40 }];
		config.yellowZones = [{ from: 40, to: 60 }];
		config.greenZones = [{ from: 60, to: 100 }];
		
		gauges[name] = new Gauge(name, config);
		gauges[name].render();
	}
	
	function createGauges()
	{
		createGauge("gauge", "Blues");
	}
	
	function updateGauges(value)
	{
		console.log(">>VALUE "+value);
		for (var key in gauges)
		{
			//var value = getRandomValue(gauges[key]);
			gauges[key].redraw(value || 50);
		}
	}
	
	function getRandomValue(gauge)
	{
		var overflow = 0; //10;
		return gauge.config.min - overflow + (gauge.config.max - gauge.config.min + overflow*2) *  Math.random();
	}
	
	createGauges();
	<% if(typeof val !== "undefined" && val != null && val != 'null' && val != '') { %>
		updateGauges(<%= val %>);
	<% } %>
	<% if(typeof val === "undefined" || val == null || val == 'null' || val != '') { %>
		updateGaugePercent();	
	<% } %>
	
	function updateGaugePercent() {
		$.ajax({ 
		   url: '/getMoodPercent',
		   success: function(data){
			   ajaxCall('/showGauge/'+parseInt(data), 'indicator');
		   }
		});
	}

</script>